<ion-view view-title="Buy Tickets">
  <ion-content class="padding">
  	<div class="row">
  		<div class="padding text-center col-offset-25 col-50">
  			<button ng-click="buyTicket('A')" class="button button-outline button-block button-positive">
			  1 day pass
			</button>
			<div><small>1,65 EUR + VAT</small></div>
  		</div>
  	</div>
  	<div class="row">
		<div class="padding text-center col-offset-25 col-50">
  			<button  ng-click="buyTicket('E780')" class="button button-outline button-block button-positive">
			  Expres 780
			</button>
			<div><small>0.75 EUR + VAT</small></div>
  		</div>
  	</div>
    <div class="padding text-center col-offset-25 col-50">
        <button ng-click="buyTicket('E783')" class="button button-outline button-block button-positive">
        Expres 783
      </button>
      <div><small>0.75 EUR + VAT</small></div>
      </div>
    </div>
  </ion-content>
</ion-view>